:root{
    --color-primary: #2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-heading:#1b0760;
    --color-body:#918ca4;

}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter';
    color:var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color:var(--color-heading);
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    margin-bottom: 2.4rem;
}
p{
    margin-top: 0;
}
/*links*/
.link-arrow{
 color:var(--color-accent);
 text-transform: uppercase;
font-size:3rem;
font-weight: bold;

}
.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
 margin-left: 10px  ;
}
a{
    text-decoration: none;
}
/*badges*/
.badges{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    font-weight: bold;
}
.badges-primary{
  background-color: var(--color-primary);
}
.badges-secondary{
    background-color: var(--color-secondary);
}
@media screen and (min-width:1024px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
        margin-bottom: 2.4rem;
    }   
    p{
        margin-top: 0;
    }
    body{
        font-size: 1.8rem;
    }
    
}
