:root{
    --color-primary: #2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-heading:#1b0760;
    --color-body:#918ca4;
    --color-border:#ccc;
    --color-radius:30px;
    --color-body-darker:#5c5577;

}
*,*::after,*::before{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter';
    color:var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color:var(--color-heading);
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    margin-bottom: 2.4rem;
}
p{
    margin-top: 0;
}
/*links*/
.link-arrow{
 color:var(--color-accent);
 text-transform: uppercase;
font-size:3rem;
font-weight: bold;

}
.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
 margin-left: 10px  ;
}
a{
    text-decoration: none;
}
/*badges*/

.badges{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    font-weight: bold;
}
.badges--primary{
  background-color: var(--color-primary);
}
.badges--secondary{
    background-color: var(--color-secondary);
} 
.badges--small{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}    
/*LISTS*/
.list{
    list-style: none;
    padding-left:0;
    color:var(--color-heading);
}
.inline .list__item{
    display:inline-block;
    margin-right: 2rem;
}
.list--tick{

    list-style-image: url(/images/tick.svg);
    padding-left: 3rem;
}
/*icon*/
.icon{
    width: 60px;
    height: 60px;
}
.icon--primary{
    fill:var(--color-primary);
}
.icon-container{
    background-color: gold;
    width: 40px;
    height:40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
/*buttons*/
.btn{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding:2rem 3rem;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;

}
.btn--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.btn--accent{
    background-color: var(--color-accent);
    color:#fff; 
}
.btn--accent:hover{
            background-color:#ec3000 ;
}
.btn--block{
    width: 100%;
    display: inline-block;
}
.btn--outline{
    background: #fff;
    color:  var(--color-heading);
    border: 2px solid ;
}
.btn--outline:hover{
    background:var(--color-heading);

    color:#fff;}
/*inputs*/
.input{
    padding:1.5rem 3.5rem;
    border:1px solid #ccc;
    border-radius: 30px;
    outline:0;
    color: var(--color-heading);
     font-size: 2 rem;
}
::placeholder{
    color: #cbcdcb;
}
.input-group{
    border-radius: var(--color-radius);
    border:1px solid var(--color-border);
    display:flex;
}
.input-group .input{
    border:0;
    flex-grow: 1;
}
/*cards*/
.card{
    border-radius:7px;
    box-shadow: 0 0 20px 10px;
    overflow: hidden;
   
}
.card__header,.card__body{
    padding: 2rem 3rem;
}
.card--primary .card__header{
    background: var(--color-primary);
    color:#fff
}
.card--secondary .card__header{
    background: var(--color-secondary);
    color:#fff
}
.card--secondary .badges--secondary{
    background:#02cdf1 ;
}
/*plans*/
.plans__name{
    color:#fff;
    margin:0;
    font-weight: 500;
    font-size: 2.4rem;

}
.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity:0.8 ;
    margin-right: 2rem;
}
.plan__description{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: inline-block;
    opacity: 0.97;
}
.plan .list__item{
    margin-bottom: 2rem;
}
.card__header{
    position:relative;
}
.plan__popular .card__header::before{
    content: url(/images/popular.svg);
    width: 40px;
    position: absolute;
    top: -6px;
    right:5%;
}
/*media*/
.media{
    display: flex;
}
.media__title{
    margin-top:0px;
}
.media__image{
    padding:0 1rem;
}
/*qoute*/
.quote{
    font-size: 2rem;
    font-style: italic;
    color:var(--color-body-darker);
    line-height: 1.3;
}
.text::before{
    content: open-quote;
}
.text::after{
    content: close-quote;
}
.qoute__author{
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;

}
.qoute__organization{
    font-size: 2rem;
    opacity: 0.4;
    color:var(--color-heading);
    
}
.qoute__line{
    position:relative;
    bottom:8px;
}
/*grid*/
.grid{
    display: grid;
}
.grid--1x2{
    grid-template-columns: 1fr 1fr;
    
}
/*testimonials*/
.testimonial{
padding: 3rem;
}
.testimonial__image>img{
    width:100%
}
.testimonial__image{
    position: relative;
}
.testimonial__image .icon-container{
    position: absolute;
    top: 3rem;;
    right:-15px
}
/*
@media screen and (min-width:1024px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
        margin-bottom: 2.4rem;
    }   
    p{
        margin-top: 0;
    }
    body{
        font-size: 1.8rem;
    }
    .plans__name{
       
        font-size: 1.4rem;
    
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
        
    }
    .plan__description{
        font-size: 1.7rem;
        
    }
    
}
*/